body {
  text-align: center;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
  animation: wiggle 0.4s ease;
}



